.app-footer-container .app-footer-content {
    padding: 20px 30px 8px;
    text-align: unset;
}

.app-footer .footer-holder {
    display: flex;
    justify-content: space-between;

    @media (max-width: 990px) {
        display: block;
        text-align: center;
    }

    h3 {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 19.6px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 3px;
    }

    a {
        color: #fff;
        text-decoration: underline;
        font-size: 13px;
        line-height: 16.2px;
        font-weight: 400;
    }

    p {
        color: #fff;
        font-weight: 400;
        margin-bottom: 3px;
    }

    .company-info {
        h3 {
            color: #fff;
        }

        p {
            font-size: 13px;
            line-height: 16.2px;
        }

        .cep-address {
            display: flex;

            @media (max-width: 990px) {
                justify-content: center;
            }
        }

        .cep-contact {
            display: flex;

            @media (max-width: 990px) {
                justify-content: center;
                padding-bottom: 15px;
            }
        }

        .cep-street,
        .cep-locality,
        .cep-email,
        .cep-telephone {
            white-space: nowrap;
        }

        .cep-email {
            margin-right: 4px;
        }

        .cep-telephone {
            margin-left: 4px;
        }
    }

    .company-schedule {
        @media (max-width: 990px) {
            padding-bottom: 15px;
        }

        h3 {
            color: #e6ca11;
        }

        p {
            font-size: 13px;
            line-height: 16.2px;

            &:last-child {
                @media (max-width: 990px) {
                    margin-bottom: 0;
                }
            }
        }
    }

    .company-links {
        display: flex;
        flex-direction: column;
        text-align: end;

        @media (max-width: 990px) {
            text-align: center;
            padding-bottom: 15px;
        }

        h3 {
            color: #e6ca11;
        }

        p {
            font-size: 13px;
            line-height: 17px;
        }
    }

    .company-partners {
        text-align: end;

        @media (max-width: 990px) {
            text-align: center;
        }

        .eduqua-info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin-bottom: 7px;

            @media (max-width: 990px) {
                justify-content: center;
            }

            .eduqua-image {
                background-image: url('images/eduqua.png');
                font-size: 0;
                width: 100px;
                height: 37px;
                background-repeat: no-repeat;
            }

            p {
                padding-right: 5px;
            }
        }

        p {
            font-size: 13px;
            line-height: 17px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}
