.footer-holder {
    display: flex;
    justify-content: space-between;

    .company-info {
        h3 {
            text-transform: uppercase;
            color: #fff;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
        }

        p {
            color: #fff;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
        }

        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    .company-schedule {
        h3 {
            text-transform: uppercase;
            color: #e6ca11;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
        }

        p {
            color: #fff;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
        }
    }

    .company-links {
        h3 {
            text-transform: uppercase;
            color: #e6ca11;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
        }

        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    .company-partners {
        p {
            color: #fff;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;

            &:first-child {
                margin-top: 20px;
            }
        }
    }
}
