// Make breaking points for media queries at 700px

.course-resume {
    background-image: url(images/resume.jpg);
    background-position: bottom 15px left 15px;
    background-repeat: no-repeat;
    background-size: 95px auto;

    h3 {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 21.6px;
        font-weight: 900;
        margin-top: 0;
    }

    h4 {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 0;
    }

    h5 {
        text-transform: lowercase;
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 700;
        color: #6a615b;
        margin-top: 0;
        margin-bottom: 10px;
    }

    h6 {
        text-transform: uppercase;
        font-size: 10px;
        line-height: 12px;
        font-weight: 900;
        color: #a59f9b;
        margin-top: 0;
        margin-bottom: 0;
    }

    .dur-label {
        font-size: 10px;
        line-height: 12px;
        font-weight: 700;
    }

    .dur-info {
        font-size: 10px;
        line-height: 12px;
        font-weight: 400;
    }
}

.info-holder {
    padding: 25px 25px 25px 130px;
}

.course-durations {
    display: flex;
}

.duration-holder {
    display: flex;
}

.course-type {
    display: flex;
    justify-content: space-around;

    h3 {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 28.8px;
        color: #78a5b6;
        font-weight: 300;
    }
}

.courses-list {
    display: flex;
    flex-flow: column;

    .presence-course,
    .conclusion-course {
        max-width: 50%;
        padding-bottom: 25px;
        border-right: 2px solid #78a5b6;

        &:last-child {
            padding-bottom: 0;
        }

        .day-counter {
            display: flex;
            justify-content: flex-end;
            box-shadow: 0px 10px 0px 0px #e6ca11;
            padding-right: 14px;
        }

        .content-holder {
            margin-right: 14px;
        }

        .heading-holder {
            background-color: #fef6bb;
            background-image: url(images/presence-course.svg);
        }

        .description-holder {
            background-color: #fffdeb;
        }
    }

    .online-sync,
    .online-async {
        max-width: 50%;
        align-self: flex-end;
        padding-bottom: 25px;
        box-shadow: -1.9px 0px 0px 0px #78a5b6;

        &:last-child {
            padding-bottom: 0;
        }

        .day-counter {
            padding-left: 14px;
        }

        .content-holder {
            margin-left: 14px;
        }
    }

    .online-sync {
        .heading-holder {
            background-image: url(images/online-sync.svg);
            background-color: #d6e4e9;
        }

        .day-counter {
            box-shadow: 0px 10px 0px 0px #5a8799;
        }

        .description-holder {
            background-color: #f1f6f7;
        }
    }

    .online-async {
        .heading-holder {
            background-image: url(images/online-async.svg);
            background-color: #e4e2e1;
        }

        .day-counter {
            box-shadow: 0px 10px 0px 0px #6a615b;
        }

        .description-holder {
            background-color: #f0efef;
        }
    }

    .day-counter {
        font-size: 24px;
        line-height: 24px;
        font-weight: 300;
        color: #a59f9b;
    }

    .heading-holder {
        display: flex;
        height: 155px; /* Might add min-height here */
        margin-top: 10px;
        background-position: top 25px left 15px; /* responsive problematic, heading breaks the layout */
        background-repeat: no-repeat;
        background-size: 95px auto;

        h2 {
            font-size: 24px;
            line-height: 21px;
            font-weight: 400;
            margin-top: 10px; /* subject to change */
            margin-bottom: 0;
            padding: 25px 25px 25px 155px; /* subject to change */
            align-self: center;
            color: #6a615b;
        }
    }

    .description-holder {
        padding: 25px 25px 25px 15px;

        h3 {
            text-transform: uppercase;
            color: #a59f9b;
            font-size: 18px;
            line-height: 21.6px;
            font-weight: 900;
            margin: 0;
            padding-bottom: 15px;
        }

        p {
            color: #6a615b;
            font-size: 12px;
            line-height: 16px;
            font-weight: 300;
            margin: 0;
        }
    }
}
